In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/user/Desktop/Data/CARD_SUBWAY_MONTH_202102.csv',index_col=False)

In [10]:
df.head()

       사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자
0  20210201  중앙선   용문    1282    1259  20210204
1  20210201  중앙선   지평      48      43  20210204
2  20210201  중앙선   아신     415     413  20210204
3  20210201  중앙선   양수    1463    1466  20210204
4  20210201  중앙선  운길산     495     463  20210204

In [20]:
df['사용일자'] = df['사용일자'].apply(getDate)

NameError: name 'getDate' is not defined

In [21]:
df['사용일자'].astype['datetime64[ns]']

TypeError: 'method' object is not subscriptable

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16751 entries, 0 to 16750
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    16751 non-null  int64
 1   노선명     16751 non-null  object
 2   역명      16751 non-null  object
 3   승차총승객수  16751 non-null  int64
 4   하차총승객수  16751 non-null  int64
 5   등록일자    16751 non-null  int64
dtypes: int64(4), object(2)
memory usage: 785.3+ KB

In [17]:
df.drop(columns = ['등록일자'], inplace = True)

In [18]:
df

           사용일자  노선명   역명  승차총승객수  하차총승객수
0      20210201  중앙선   용문    1282    1259
1      20210201  중앙선   지평      48      43
2      20210201  중앙선   아신     415     413
3      20210201  중앙선   양수    1463    1466
4      20210201  중앙선  운길산     495     463
...         ...  ...  ...     ...     ...
16746  20210228  중앙선   오빈     216     236
16747  20210228  중앙선   양평    3299    3187
16748  20210228  중앙선   원덕     322     304
16749  20210228  중앙선   용문    1899    1716
16750  20210228  중앙선   지평      30      31

[16751 rows x 5 columns]

In [19]:
print(df['사용일자'].dt.year.value_counts())
print(df['사용일자'].dt.month.value_counts())
print(df['사용일자'].dt.dayofweek.value_counts())
print(df['사용일자'].dt.hour.value_counts())

AttributeError: Can only use .dt accessor with datetimelike values